{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="py-5 bg-light">
  <div class="container">
    <h2 class="text-center mb-4">{{ form.instance.pk|yesno:"Edit Player,Add New Player" }}</h2>
    <form method="post" enctype="multipart/form-data" class="row g-4 shadow p-4 bg-white rounded">
      {% csrf_token %}
      {{ form.non_field_errors }}
      
      <div class="col-md-6">
        {{ form.surname.label_tag }} {{ form.surname }}
      </div>
      <div class="col-md-6">
        {{ form.first_name.label_tag }} {{ form.first_name }}
      </div>
      <div class="col-md-6">
        {{ form.date_of_birth.label_tag }} {{ form.date_of_birth }}
      </div>
      <div class="col-md-6">
        {{ form.position.label_tag }} {{ form.position }}
      </div>
      <div class="col-md-6">
        {{ form.profile_image.label_tag }} {{ form.profile_image }}
      </div>
      <div class="col-md-6">
        {{ form.video.label_tag }} {{ form.video }}
      </div>
      <div class="col-md-12">
        {{ form.description.label_tag }} {{ form.description }}
      </div>

      <div class="col-12 text-center">
        <button type="submit" class="btn btn-primary px-5">Save</button>
      </div>
    </form>
  </div>
</section>
{% endblock %}
