{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="py-5 bg-light">
  <div class="container">
    <div class="alert alert-warning shadow p-4">
      <h4 class="mb-3">Confirm Deletion</h4>
      <p>Are you sure you want to delete <strong>{{ object.name }}</strong>?</p>
      
      <form method="post">
        {% csrf_token %}
        <a href="{% url 'manager:player_list' %}" class="btn btn-secondary">Cancel</a>
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>
  </div>
</section>
{% endblock %}
