
{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8">

      <div class="card shadow">
          <img src="{{ player.profile_image.url }}" class="card-img-top img-fluid rounded" alt="{{ player.name }}">

        <div class="card-body">
          <h3 class="card-title">{{ player.surname }} {{player.first_name}}</h3>
          <p><strong>Date of Birth:</strong> {{ player.date_of_birth|date:"F j, Y" }}</p>
          <p><strong>Position:</strong> {{ player.position }}</p>
            <p><strong>Bio:</strong> {{ player.description }}</p>

        
            {% if player.video and player.video.name %}
            <div class="mt-4">
              <h5>Highlight Video</h5>
              <video controls class="w-100">
                <source src="{{ player.video.url }}" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </div>
          {% endif %}
          

          <a href="{% url 'players:player_list' %}" class="btn btn-secondary mt-4">Back to Players</a>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
