{% extends "base.html" %}
{% load static %}

    
 
    <!-- Navbar -->
    
    {% block content %}
    <!-- Hero Section -->
    <header class=" text-white text-center py-5" >
        <div class="container">
            <h1>Welcome to Eduff Sports </h1>
            <p>Connecting players with clubs for the best career opportunities</p>
        </div>
        
    </header>

   
    <!-- Carousel Section -->
    <div id="carouselExampleCaptions" class="carousel slide py-5 my-5" data-bs-ride="carousel">
      <div class="carousel-indicators">
        {% for news in latest_news %}
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}" aria-label="Slide {{ forloop.counter }}"></button>
        {% endfor %}
      </div>
        <div class="carousel-inner">
          {% for news in latest_news %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <div class="ratio ratio-16x9 mx-auto" style="max-width: 800px;">
              {% if news.is_youtube %}
                <iframe src="{{ news.embed_url }}" frameborder="0" allowfullscreen></iframe>
              {% elif news.video %}
                <video controls style="width: 100%;">
                  <source src="{{ news.video.url }}" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              {% endif %}
            </div>
            
          </div>
          
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div> 
    
 

    <!-- Players Section -->
    <section id="players" class=" bg-light py-5">
        <div class="container">
            <h2 class="text-center">Featured Players</h2>
            <div class="row">
              {% for player in players %}  
              <div class="col-md-3">
                   <div class="card display-flex">
                        <img src="{{ player.profile_image.url }}" class="card-img-top" alt="{{ player.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{player.name}}</h5>
                            <p class="card-text">{{player.position}}</p>
                            <a href="{% url 'players:player_detail' player.pk %}" class="btn btn-primary">View Profile</a>
                        </div>
                    </div>
              </div>
              {% endfor %}
                <!-- Repeat for more players -->
            </div>
        </div>
      </section>
   

     <!-- Leagues & Summits Section -->
     
  
    <section id="trials-summit" class="py-5 bg-white">
        <div class="container">
          <h2 class="text-center mb-5">Upcoming Trials & Summits</h2>
      
          <div class="row">
            <!-- Event Card 1 -->
             {% for trial in trials %}
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="card h-100 shadow-sm">
                <img src="{{trial.banner_image.url}}" class="card-img-top" alt="Event Image">
                <div class="card-body">
                  <h5 class="card-title">{{ trial.title }}</h5>
                  <p class="card-text"><strong>Date:</strong>{{ trial.date|date:"M d, Y" }}</p>
                  <p class="card-text"><strong>Location:</strong> {{ trial.location }}</p>
                  <p class="card-text">{{ trial.description }}</p>
                  <a href="{% url 'trials:register_trial' trial.id %}" class="btn btn-outline-primary btn-sm">Register Now</a>
                </div>
              </div>
            </div>
             {% empty %}
             <p class="text-center">No upcoming trials or summits at the moment.</p>
             {% endfor %}
          </div>
        </div>
      </section>


    <section class="news-section my-5 bg-white">
  <h3>Latest Sports News</h3>
  <div class="row">
    {% for news in latest_news %}
      <div class="col-md-6 mb-3">
        <div class="border p-3">
          <h5 class="card-title">{{ news.title }}</h5>
          <img src="{{ news.image.url }}" alt="{{ object.title }}" style="width:300px;">
          <p class="text-muted">{{ news.created_at|date:"d M Y" }}</p>
          <a href="{% url 'news:news_detail' news.pk %}" class="btn btn-sm btn-outline-primary">Read more</a>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

   
    
   

    
  {% endblock content %}
    
